/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.title {
  color: #111518;
}

.text {
  color: #B9B9B9;
}

.conteiner {
  width: 100%;
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 3%;
}

.header {
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  background: #FFFFFF;
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
}

.navigation {
  width: 100%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.231;
  letter-spacing: 0.04em;
  color: #111518;
}

.logo .under-logo {
  text-align: center;
  font-weight: 700;
  font-size: 5px;
  line-height: 1.25;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-top: 4px;
}

.button-tablet {
  display: none;
}

.navigation-list-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #FF6B09;
}

.navigation-list-link-active {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03;
  color: #FF6B09;
}

@media screen and (min-width: 320px) {
  .header {
    width: 320px;
    padding: 0 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation .logo {
    width: 80px;
    height: 29px;
  }
  .navigation .logo .logo-svg {
    width: 14px;
    height: 19px;
  }
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    margin-left: auto;
    background-color: transparent;
  }
  .menu-button .icon-svg {
    z-index: 1;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-button .icon-cross {
    display: none;
    fill: #FFFFFF;
  }
  .menu-conteiner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 568px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-conteiner .navigation-list {
    margin-left: 20px;
  }
  .menu-conteiner .navigation-list .navigation-list-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 320px) {
  .menu-conteiner .logo-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 29px;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.231;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 30px;
  }
  .menu-conteiner .logo-menu .logo-svg {
    width: 14px;
    height: 19px;
  }
  .menu-conteiner .logo-menu .under-logo-menu {
    text-align: center;
    font-weight: 700;
    font-size: 5px;
    line-height: 1.25;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    margin-top: 4px;
  }
  .menu-conteiner .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FF6B09;
    border: 2px solid #FF6B09;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-conteiner .button {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 320px) {
  .menu-conteiner.is-open {
    display: block;
    align-items: center;
    justify-content: center;
    background: rgba(17, 21, 24, 0.9);
  }
  .menu-conteiner.is-open .navigation-list {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
  .navigation .logo {
    width: 128px;
    height: 45px;
    font-size: 26px;
  }
  .navigation .logo .logo-svg {
    width: 22px;
    height: 30px;
  }
  .navigation .logo .under-logo {
    font-size: 8px;
    letter-spacing: 0.18em;
  }
  .navigation .logo .under-logo .under-logo-orange {
    color: #FF6B09;
  }
  .navigation .button-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FF6B09;
    border: 2px solid #FF6B09;
    margin-left: 239px;
    margin-right: 40px;
  }
  .navigation .menu-conteiner {
    width: 768px;
    height: 1024px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1679px) {
  .navigation .menu-conteiner .navigation-list {
    margin-top: 72px;
  }
  .navigation .menu-conteiner .navigation-list .navigation-list-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .navigation .menu-conteiner .button {
    display: none;
  }
  .navigation .menu-conteiner .logo-menu {
    width: 128px;
    height: 45px;
    font-size: 26px;
  }
  .navigation .menu-conteiner .logo-menu .under-logo-menu {
    font-size: 8px;
    letter-spacing: 0.18em;
  }
  .navigation .menu-conteiner .logo-menu .under-logo-menu .under-logo-orange {
    color: #FF6B09;
  }
  .navigation .menu-conteiner.is-open {
    display: block;
    align-items: center;
    justify-content: center;
    background: rgba(17, 21, 24, 0.9);
  }
  .navigation .menu-conteiner.is-open .navigation-list {
    display: block;
    text-align: start;
    width: 332px;
    margin-left: 218px;
  }
  .navigation-list-link {
    font-size: 26px;
  }
  .navigation-list-link-active {
    font-size: 26px;
  }
}

@media screen and (min-width: 1680px) {
  .header {
    width: 1680px;
    padding-left: 173px;
    padding-right: 191px;
  }
  .logo {
    min-width: 128px;
  }
  .navigation .logo-menu,
  .navigation .menu-button,
  .navigation .button-tablet {
    display: none;
  }
  .navigation .menu-conteiner {
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  .navigation .menu-conteiner .button {
    display: flex;
    width: 336px;
    height: 70px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
    color: #FF6B09;
    border: 2px solid #FF6B09;
  }
  .navigation-list {
    display: flex;
    width: 648px;
    margin-left: 144px;
    margin-right: 60px;
  }
  .navigation-list :not(:last-child) {
    margin-right: 40px;
  }
  .navigation-list .navigation-list-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0;
    color: #B9B9B9;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list .navigation-list-link:hover, .navigation-list .navigation-list-link:focus {
    color: #FF6B09;
  }
  .navigation-list .navigation-list-link-active {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}
/*# sourceMappingURL=main.css.map */